html {
    font-size: 100px;
}
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgba(0,0,0,.2), rgba(0,0,0,0), rgba(0,0,0,.2)), 
    url(./static/bg.jpg) no-repeat center center / cover; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
input {
    outline: none;
    border: none;
}
.container {
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;
    padding: 0 0.2rem;
}
.text-white {
    color: #fff;
}

.serach__section {
    margin-top: .5rem;
}
.search__tab {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__tab--item {
    color: #fff;
    cursor: pointer;
}
.search__tab--item span{
    font-size: 1.3em;
    padding-right: 0.4em;
}
.search__tab--item:first-child span {
    color: #3B86E8;
}
.search__tab--item:last-child span {
    color: #6332F6;
}
.search__tab--item.active {
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    border-radius: 5px;
    margin-right: 20px;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, .2);
}
.search__input {
    margin-top: .35rem;
}
.search__input input {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    background-color: rgba(255, 255, 255, .4);
    padding: 0 50px 0 15px;
    line-height: 40px;
    width: 100%;
    color: #fff;
}
.search__input input::placeholder {
    color: #fff;
}
main section {
    padding-top: .4rem;
}
main section h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}
main section ul {
    margin-top: 0.2rem;
    padding: 0.14rem 0.17rem;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section-item ul li {
    border-radius: 4px;
    padding: 4px 16px;
    margin: 4px 8px;
    background-color: pink;
    color: #fff;
    transition: all .4s;
    cursor: pointer;
}
.section-item ul li:nth-of-type(even) {
    background-color: skyblue;
}
.section-item ul li:nth-of-type(3n) {
    background-color: purple;
}
.section-item ul li:nth-of-type(4n) {
    background-color: coral;
}
.section-item ul li:hover {
    transform: scale(1.1);
}
.section-item:last-child {
    margin-bottom: .4rem;
}
@media screen and (max-width: 600px) {
    html {
        font-size: 80px;
    }
}
@media screen and (max-width: 450px) {
    html {
        font-size: 60px;
    }
    body {
        font-size: 14px;
    }
}
@media screen and (max-width: 414px) {
    html {
        font-size: 50px;
    }
}